.outer_container {
  width: 90vw;
  display: flex;
  margin: 0 auto;
  padding-top: 30px;
}
.container {
  display: flex;
  width: 90vw;
  height: 56px;
  margin: 0 auto;
}
.brand {
  width: 8vw;
}
.nav_links_container ul {
  align-items: center;
}
.nav_links_container li {
  font-family: var(--font--family--inter);
  font-weight: 500;
  font-size: 1.125rem;
  display: inline-flex;
  margin-bottom: 0;
  padding-right: 40px;
}
.links_styles {
  color: white !important;
}
.links_styles:hover {
  color: #e90d0d !important;
}
@media only screen and (max-width: 768px) {
  .outer_container {
    display: none;
  }
}
@media only screen and (max-width: 650px) {
  .outer_container {
    display: none;
  }
}
