.container {
  display: flex;
  width: 90vw;
  height: 50vh;
  margin: 0 auto;
}
.fixtures_layout_mobile {
  width: 90vw;
  margin: 0 auto;
  color: white;
  display: none;
}
.teams_container {
  width: 50vw;
  height: 70px;
  border-radius: 8px;
  background-color: white;
}
.teams_container h6 {
  text-align: center;
  margin: 0;
  padding-top: var(--margin--4);
}

.teams {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 0 15px 0 15px;
}
.teams h5 {
  font-size: 1.2rem;
  min-width: 240px;
  margin-bottom: 0;
  font-family: var(--font--family--inter);
}
.h5_last {
  text-align: right;
}
.teams span {
  display: flex;
  justify-items: center;
  align-content: center;
}
.game_details {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px 0 15px;
  color: white;
  font-size: 1rem;
}
@media only screen and (max-width: 960px) {
  .teams_container {
    width: 90vw;
  }
}
@media only screen and (max-width: 650px) {
  .teams h5 {
    font-size: 1rem;
    min-width: 100px;
  }
  .game_details {
    font-size: 12px;
  }
  .container {
    display: none;
  }
  /*------- Fixture Mobile styles------*/
  .fixtures_layout_mobile {
    display: block;
  }
  .fixture_card_mobile {
    width: 90vw;
    margin: 0 auto;
    padding: 30px;
    background-color: #252525;
    border-radius: 8px;
    margin-bottom: var(--margin--24);
  }
  .mobile_card_styles {
    text-align: center;
    color: var(--text-off-white);
    font-family: var(--font--family--inter);
  }
  .mobile_card_styles h6 {
    font-weight: 500;
    font-size: 1.25rem;
  }
  .mobile_card_styles h3 {
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .mobile_card_styles span {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 700;
  }
  .divider {
    border: 1px solid #7d7d7d;
    margin-top: 16px;
  }
}
@media only screen and (max-width: 425px) {
  .teams h5 {
    font-size: 1rem;
    min-width: 100px;
  }
}
