.container {
  width: 90vw;
  margin: 0 auto;
  margin-bottom: 100px;
}
.fixture_graphic_container {
  display: flex;
  height: 10vh;
  background-color: lightcyan;
}
.fixture_Card {
  width: 52vw;
  height: 72px;
  margin: 0 auto;
  align-items: center;
  align-content: center;
  border-radius: 8px;
  font-family: var(--font--family--inter);
  color: var(--text-grey--);
  background-color: white;
  margin-bottom: var(--margin--48);
}
.fixture_tournament_title h6 {
  font-size: 1rem;
  line-height: 1rem;
  padding-top: 7px;
  text-align: center;
  margin: 0;
}
.teams {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 15px;
}

.teams h5 {
  font-size: 1.2rem;
  line-height: 1.2rem;
  min-width: 220px;
  margin: 0;
}
.teams span {
  font-weight: 700;
  font-size: 1.2rem;
}
.h5_left_align {
  text-align: right;
}

.game_details_container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0 15px 0 15px;
  color: white;
}
.fixtures_carousel_container {
  display: none;
}
.solid {
  border-top: 1px solid #bbb;
}
/*---------Carousel Card-------*/
.carousel_card {
  background-color: #333333;
  border-radius: 8px;
  padding: 30px;
}
.carousel_teams {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  color: var(--text-off-white);
  margin-bottom: var(--margin--16);
}
.carousel_teams h6 {
  font-weight: 500;
  font-size: 1.3rem;
}
.carousel_teams span {
  font-weight: 700;
  font-size: 2rem;
}
.carousel_teams h5 {
  font-size: 2rem;
  letter-spacing: 1px;
}
.game_details {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin-top: var(--margin--16);
}
@media only screen and (max-width: 1080px) {
  .fixture_Card {
    width: 58vw;
  }
}
@media only screen and (max-width: 960px) {
  .fixture_Card {
    width: 80vw;
  }
}
@media only screen and (max-width: 650px) {
  .fixtures_deskop_layout {
    display: none;
  }
  .fixtures_carousel_container {
    display: block;
  }
}
