.container {
  width: 90vw;
  margin: 0 auto;
  margin-top: var(--section--margin--150);
  margin-bottom: var(--section--margin--150);
}
.fixtures_deskop_layout {
  display: flex;
  justify-content: flex-end;
}
.fixture_graphic_container_desktop {
  display: flex;
  height: 350px;
  align-content: flex-end;
  flex-wrap: wrap;
  text-align: center;
}
.fixture_graphic_container_desktop h3 {
  font-size: 7rem;
  line-height: 6.5rem;
  letter-spacing: 6px;
  color: white;
  font-family: var(--font--family--Bebas);
  margin: 0;
}
.fixture_graphic_container_desktop h4 {
  font-size: 6rem;
  line-height: 5rem;
  letter-spacing: 8px;
  color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #f60909;
  font-family: var(--font--family--Bebas);
}
.fixture_Card {
  width: 52vw;
  height: 72px;
  margin: 0 auto;
  border-radius: 8px;
  font-family: var(--font--family--inter);
  color: var(--text-grey--);
  background-color: white;
  margin-bottom: var(--margin--48);
}
.fixture_tournament_title h6 {
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 0.9rem;
  padding-top: 7px;
  text-align: center;
  color: var(--text-grey--);
  margin: 0;
}
.teams {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 15px;
}

.teams h5 {
  font-size: 1.2rem;
  line-height: 1.2rem;
  min-width: 220px;
  margin: 0;
}
.teams span {
  font-weight: 700;
  font-size: 1.2rem;
}
.h5_left_align {
  text-align: right;
}

.game_details_container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0 15px 0 15px;
  color: white;
}
.fixtures_carousel_container {
  display: none;
}
.solid {
  border-top: 1px solid #bbb;
}
/*---------Carousel Card-------*/
.carousel_card {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
}
.carousel_teams {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  color: var(--text-grey--);
  margin-bottom: var(--margin--16);
}
.carousel_teams h6 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1rem;
  margin: 0;
}
.carousel_teams h3 {
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
}
.carousel_teams h5 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
  margin-bottom: var(--margin--8);
  margin-top: var(--margin--8);
}
.game_details {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  color: var(--text-grey--);
  margin-top: var(--margin--16);
}
.game_details h4 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.25rem;
  margin-top: var(--margin--4);
  margin-bottom: var(--margin--4);
}
.game_details h5 {
  font-size: 1rem;
  font-weight: 500;
  margin-top: var(--margin--4);
  margin-bottom: var(--margin--4);
}
.game_details h6 {
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: 600;
  margin-top: var(--margin--4);
  margin-bottom: var(--margin--16);
}
.view_more_btn_container {
  display: flex;
  width: 90vw;
  justify-content: flex-end;
}
.view_more_btn_mobile_container {
  display: none;
}
.view_more_link {
  background: transparent;
  color: #f99705 !important;
  font-size: 2rem;
  line-height: 2rem;
  font-family: var(--font--family--Bebas);
  margin-right: 20px;
}
.view_more_link:hover {
  color: white !important;
}
@media only screen and (max-width: 1080px) {
  .fixture_Card {
    width: 52vw;
  }
  .teams h5 {
    font-size: 1rem;
    line-height: 1rem;
    min-width: 220px;
    margin: 0;
  }
}

@media only screen and (max-width: 960px) {
  .fixture_graphic_container_desktop h3 {
    margin-bottom: var(--margin--24);
  }
  .fixture_Card {
    width: 90vw;
  }
  .teams h5 {
    font-size: 1.2rem;
    line-height: 1.2rem;
    min-width: 220px;
    margin: 0;
  }
}

@media only screen and (max-width: 650px) {
  .fixture_graphic_container_desktop {
    display: flex;
    height: 160px;
    align-content: flex-end;
    flex-wrap: wrap;
    text-align: center;
  }
  .fixture_graphic_container_desktop h3 {
    font-size: 5rem;
    line-height: 5rem;
    letter-spacing: 6px;
    margin-bottom: var(--margin--24);
  }
  .fixture_graphic_container_desktop h4 {
    font-size: 5rem;
    line-height: 4.5rem;
    letter-spacing: 8px;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #f60909;
  }
  .fixtures_deskop_layout {
    display: none;
  }
  .fixtures_carousel_container {
    display: block;
  }
  .view_more_btn_container {
    display: none;
  }
  .view_more_btn_mobile_container {
    display: flex;
    width: 90vw;
    margin-top: var(--margin--16);
    justify-content: flex-end;
  }
  .view_more_link {
    margin-right: 0;
  }
}
