.container {
  width: 90vw;
  margin: 0 auto;
  margin-top: var(--section--margin--150);
  margin-bottom: var(--section--margin--150);
}
.results_mobile_container {
  display: none;
}
.latest_heading {
  display: flex;
  height: 260px;
  align-content: flex-end;
  flex-wrap: wrap;
  text-align: center;
}
.latest_heading h3 {
  font-size: 7rem;
  line-height: 6.5rem;
  letter-spacing: 6px;
  color: white;
  font-family: var(--font--family--Bebas);
  margin: 0;
}
.latest_heading h4 {
  font-size: 6rem;
  line-height: 5rem;
  letter-spacing: 8px;
  color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #f99705;
  font-family: var(--font--family--Bebas);
  text-align: left;
}
.result_card {
  width: 52vw;
  height: 70px;
  align-items: center;
  align-content: center;
  border-radius: 8px;
  background-color: white;
  margin-bottom: var(--margin--24);
}
.results_container_order {
  order: 1;
}
.latast_container_order {
  order: 2;
}
.results_desktop_container ul {
  margin: 0;
}
.Tournament_title h6 {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 500;
  text-align: center;
  color: var(--text-grey--);
  padding-top: var(--margin--4);
  margin-bottom: var(--margin--4);
}
.results_container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 0 15px 0 15px;
}
.results_container h5 {
  font-size: 1.2rem;
  line-height: 1.2rem;
  min-width: 240px;
  margin: 0;
  text-align: left;
}
.align_left h5 {
  text-align: left !important;
}
.scores {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
}
.scores h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  font-size: 1.5rem;
  line-height: 1.2rem;
  font-weight: 600;
  color: var(--text-grey--);
  margin-top: 7px;
  padding: 0 5px 0 5px;
}
.results_mobile_container ul {
  margin: 0;
}
.results_card_mobile {
  width: 90vw;
  margin: 0 auto;
  padding: 10px 20px 15px 20px;
  margin-bottom: 24px;
  background-color: white;
  border-radius: 8px;
}
.results_card_mobile h6 {
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
  color: var(--text-grey--);
  margin: 0;
}
.align_right h5 {
  text-align: right;
}
.results_card_mobile h5 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-grey--);
}
.results_card_mobile hr {
  border-color: bisque;
}
.Team_A {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--margin--4);
}
.Team_A h5 {
  margin: 0;
}
.Team_B {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--margin--4);
}
.Team_B h5 {
  margin: 0;
}
.view_more_btn_container {
  display: flex;
  justify-content: flex-end;
}
.view_more_btn_container button {
  background-color: transparent;
  border: none;
  color: #f99705;
  font-size: 2rem;
  line-height: 2rem;
  font-family: var(--font--family--Bebas);
  cursor: pointer;
}
.view_more_btn_container button:hover {
  color: white;
}
@media only screen and (max-width: 1280px) {
  .results_container h5 {
    min-width: 220px;
  }
}
@media only screen and (max-width: 1060px) {
  .latest_heading h4 {
    text-align: center;
  }
  .results_container h5 {
    min-width: 200px;
  }
}
@media only screen and (max-width: 960px) {
  .results_container h5 {
    text-align: center;
  }
  .latest_heading h3 {
    margin-bottom: var(--margin--24);
  }
  .result_card {
    width: 90vw;
  }
  .results_container_order {
    order: 2;
  }
  .latast_container_order {
    order: 1;
  }
}
@media only screen and (max-width: 650px) {
  .results_desktop_container {
    display: none;
  }
  .results_mobile_container {
    display: flex;
  }
  .results_container_order {
    order: 2;
  }
  .latast_container_order {
    order: 1;
  }
  .latest_heading h4 {
    text-align: center;
    font-size: 5rem;
    line-height: 4rem;
    -webkit-text-stroke-width: 1.5px;
  }
  .latest_heading h3 {
    text-align: center;
    font-size: 5rem;
    line-height: 5rem;
    margin-bottom: var(--margin--24);
  }
}
@media only screen and (max-width: 425px) {
}
