.fixtures_desktop_layout {
  width: 90vw;
  margin: 0 auto;
}
.fixtures_mobile_layout {
  display: none;
}
.fixture_header_titles {
  width: 40vw;
  margin: 0 auto;
  margin-top: var(--section--margin--150);
  background-color: lightblue;
}
.fixture_title_header_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 40vw;
  height: 45vh;
  margin: 0 auto;
  margin-top: var(--section--margin--100);
  margin-bottom: var(--margin--24);
  background-image: url("/Fixtures_player.png");
  background-repeat: no-repeat;
  background-position: left;
  margin-top: var(--section--margin--150);
}
.fixture_title_header_container h4 {
  font-size: 6rem;
  line-height: 5rem;
  letter-spacing: 8px;
  color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #e90d0d;
  font-family: var(--font--family--Bebas);
  text-align: center;
}
.fixture_title_header_container h3 {
  text-align: center;
  font-size: 7rem;
  line-height: 6.5rem;
  letter-spacing: 6px;
  color: white;
  font-family: var(--font--family--Bebas);
  margin: 0;
}
.fixture_container {
  display: flex;
  width: 60vw;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px 15px 15px;
  background-color: white;
  border-radius: 8px;
  color: var(--text-grey--);
}
.fixture_container h4 {
  font-size: 1.25rem;
  line-height: 1.25rem;
  padding-top: 5px;
  margin: 0;
  min-width: 220px;
}
.align_right {
  text-align: right;
}
.fixtures_values {
  text-align: center;
}
.fixtures_values h5 {
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin: 0;
}
.fixtures_values h6 {
  margin: 0;
  font-size: 0.9rem;
  line-height: 0.9rem;
  font-weight: 500;
  padding-bottom: 5px;
}
.fixtures_details {
  display: flex;
  justify-content: space-between;
  width: 60vw;
  padding: 5px 15px 0 15px;
  margin: 0 auto;
  margin-bottom: var(--margin--16);
}
.fixtures_details h6 {
  margin: 0;
  color: white;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 400;
  margin-top: 5px;
}
/*---------Mobile Layout----------*/
.fixtures_mobile_layout ul {
  padding: 0;
  margin: 0;
}
.fixtures_card_container {
  display: flex;
  flex-direction: column;
  width: 90vw;
  padding: 20px;
  background-color: white;
  text-align: center;
  color: var(--text-grey--);
  border-radius: 8px;
  margin-bottom: var(--margin--32);
}
.fixtures_card_container h6 {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 500;
}
.fixtures_card_container h5 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.divider {
  margin-top: 8px;
  margin-bottom: 16px;
}

.game_details h4 {
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: 600;
}
.game_details h5 {
  font-size: 1.25rem;
}
@media only screen and (max-width: 1120px) {
  .fixture_title_header_container {
    width: 50vw;
    height: 60vh;
  }
}
@media only screen and (max-width: 1060px) {
  .fixture_container {
    width: 70vw;
  }
  .fixtures_details {
    width: 70vw;
  }
  .fixture_title_header_container h4 {
    -webkit-text-stroke-width: 1px;
  }
}
@media only screen and (max-width: 840px) {
  .fixture_container {
    width: 80vw;
  }
  .fixtures_details {
    width: 80vw;
  }
  .fixture_container h4 {
    font-size: 1rem;
    line-height: 1rem;
  }
  .fixture_title_header_container {
    width: 60vw;
    height: 70vh;
    margin-top: var(--section--margin--80);
  }
  .fixture_container h4 {
    min-width: 200px;
  }
}

@media only screen and (max-width: 768px) {
  .fixture_container {
    width: 80vw;
  }
  .fixtures_details {
    width: 80vw;
  }
  .fixture_container h4 {
    font-size: 1rem;
    line-height: 1rem;
    min-width: 150px;
  }
  .fixture_title_header_container {
    width: 65vw;
    height: 60vh;
    margin-top: var(--margin--24);
  }
}

@media only screen and (max-width: 650px) {
  .fixture_container {
    display: none;
  }
  .fixtures_details {
    display: none;
  }
  .fixture_container {
    display: none;
  }
  .fixtures_mobile_layout {
    display: flex;
    flex-direction: row;
    width: 90vw;
    margin: 0 auto;
  }
  .fixture_title_header_container {
    width: 80vw;
    height: 60vh;
  }
  .fixture_title_header_container h4 {
    font-size: 5rem;
    line-height: 4.5rem;
    letter-spacing: 8px;
  }
  .fixture_title_header_container h3 {
    text-align: center;
    font-size: 5rem;
    line-height: 4.5rem;
    letter-spacing: 6px;
  }
}
@media only screen and (max-width: 425px) {
  .fixture_title_header_container h4 {
    font-size: 4rem;
    line-height: 3rem;
    letter-spacing: 5px;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #f60909;
  }
  .fixture_title_header_container h3 {
    font-size: 5rem;
    line-height: 4.5rem;
    letter-spacing: 6px;
    margin-bottom: var(--margin--24);
  }
  .fixture_title_header_container {
    width: 90vw;
    height: 40vh;
    background-image: url("/Fixtures_player_mobile.png");
  }
}
@media only screen and (max-width: 304px) {
}
