.results_title_header_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 35vw;
  height: 45vh;
  margin: 0 auto;
  margin-top: var(--section--margin--100);
  margin-bottom: var(--margin--24);
  background-image: url("/Latest_player.png");
  background-repeat: no-repeat;
  background-position: left;
  margin-top: var(--section--margin--150);
}
.results_title_header_container h4 {
  font-size: 6rem;
  line-height: 5rem;
  letter-spacing: 8px;
  color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #f99705;
  font-family: var(--font--family--Bebas);
  text-align: center;
}
.results_title_header_container h3 {
  text-align: center;
  font-size: 7rem;
  line-height: 6.5rem;
  letter-spacing: 6px;
  color: white;
  font-family: var(--font--family--Bebas);
  margin: 0;
}
.container_desktop_layout {
  width: 90vw;
  margin: 0 auto;
  color: var(--text-grey--);
  margin-bottom: var(--section--margin--250);
}
.results_mobile_container {
  display: none;
}
.result_outer_container {
  width: 60vw;
  margin: 0 auto;
  background-color: white;
  padding: 10px 15px 15px 15px;
  border-radius: 8px;
  margin-bottom: var(--margin--16);
}
.scores_content_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.scores_content_container h5 {
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin: 0;
  min-width: 250px;
  padding-bottom: 5px;
}
.align_right {
  text-align: right;
}
.scores_container h6 {
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 0.9rem;
  margin-bottom: 3px;
}
.scores_container {
  text-align: center;
}
.score_values {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.score_values h4 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin: 0;
  padding: 0 5px 0 5px;
}
.results_mobile_container ul {
  margin: 0;
}

/*------Mobile layout-----*/

.results_card_mobile {
  width: 90vw;
  margin: 0 auto;
  padding: 10px 20px 15px 20px;
  margin-bottom: 24px;
  background-color: white;
  border-radius: 8px;
}
.results_card_mobile h6 {
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
  color: var(--text-grey--);
  margin: 0;
}
.align_right h5 {
  text-align: right;
}
.results_card_mobile h5 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-grey--);
}
.results_card_mobile hr {
  border-color: var(--text-grey--);
}
.Team_A {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--margin--4);
}
.Team_A h5 {
  margin: 0;
}
.Team_B {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--margin--4);
}
.Team_B h5 {
  margin: 0;
}

@media only screen and (max-width: 960px) {
  .scores_content_container h5 {
    font-size: 1.25rem;
    line-height: 1.25rem;
    margin: 0;
    min-width: 200px;
  }
  .result_outer_container {
    width: 80vw;
  }
  .results_title_header_container {
    height: 70vh;
  }
  .results_title_header_container h4 {
    -webkit-text-stroke-width: 1px;
  }
}
@media only screen and (max-width: 860px) {
  .scores_content_container h5 {
    font-size: 1rem;
    line-height: 1rem;
    margin: 0;
    min-width: 170px;
  }
}
@media only screen and (max-width: 840px) {
  .results_title_header_container {
    width: 50vw;
    height: 50vh;
  }
  .result_outer_container {
    width: 80vw;
  }
}
@media only screen and (max-width: 768px) {
  .container_desktop_layout {
    display: none;
  }
  .results_mobile_container {
    width: 90vw;
    margin: 0 auto;
    display: flex;
  }
  .results_title_header_container {
    width: 60vw;
    height: 35vh;
    margin-top: var(--margin--16);
  }
}

@media only screen and (max-width: 650px) {
  .results_title_header_container {
    width: 80vw;
    height: 30vh;
    background-image: url("/Fixtures_player_mobile.png");
  }

  .results_title_header_container h4 {
    font-size: 5rem;
    line-height: 4.5rem;
    letter-spacing: 8px;
  }
  .results_title_header_container h3 {
    text-align: center;
    font-size: 5rem;
    line-height: 4.5rem;
    letter-spacing: 6px;
  }
}
@media only screen and (max-width: 425px) {
  .results_title_header_container {
    width: 80vw;
    height: 30vh;
  }
}
