.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
  padding: 50px 50px 70px 50px;
  border-radius: 8px;
  margin: 0 auto;
  background-color: #2a2929;
  margin-top: var(--section--margin--200);
  margin-bottom: var(--section--margin--200);
}
.join_img_container {
  position: absolute;
  z-index: 99999;
  width: 330px;
  height: 420px;
  background-image: url("/Player_join.png");
  background-repeat: no-repeat;
  margin-left: -50px;
}
.container h3 {
  font-family: var(--font--family--Bebas);
  font-size: 5rem;
  line-height: 5rem;
  letter-spacing: 10px;
  text-align: center;
  color: white;
}
.container span {
  font-size: 3rem;
  line-height: 3rem;
  color: var(--btn-red-color);
}
.container p {
  width: 40vw;
  margin: 0 auto;
  color: white;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
}

.join_btn_container {
  text-align: center;
}
.join_btn_container button {
  width: 20vw;
  padding: 10px 0 10px 0;
  background-color: var(--btn-red-color);
  border: none;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}
@media only screen and (max-width: 1200px) {
  .join_img_container {
    background-image: url("/Player_join_1200.png");
    width: 250px;
    height: 300px;
    margin-left: -50px;
  }
}
@media only screen and (max-width: 1060px) {
  .join_img_container {
    background-image: none;
  }
  .join_btn_container button {
    width: 30vw;
  }
}
@media only screen and (max-width: 650px) {
  .container {
    width: 90vw;
  }
  .container h3 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
  .join_btn_container button {
    width: 35vw;
  }
}
@media only screen and (max-width: 540px) {
  .container h3 {
    font-size: 3rem;
    line-height: 3rem;
  }
  .join_btn_container button {
    width: 40vw;
  }
}
@media only screen and (max-width: 500px) {
  .container h3 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .join_btn_container button {
    width: 40vw;
  }
}
@media only screen and (max-width: 425px) {
  .container {
    padding: 40px;
    margin-top: var(--section--margin--150);
    margin-bottom: var(--section--margin--150);
  }
  .join_btn_container button {
    width: 55vw;
  }
  .container h3 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 5px;
  }
}
